* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
  border: 3rem solid #014e80;

  /* With gradients, you will need to specify a border-image-slice value of 1. */
  border-image: linear-gradient(
      to bottom,
      #014e80,
      #006798,
      #0082af,
      #009dc3,
      #00b8d4
    )
    1;
}
nav ul {
  display: flex;
  gap: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: flex-end;
  background-color: #014e80;
}
nav ul li {
  list-style: none;
  padding: 1rem;
}
nav ul a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
nav ul a:hover {
  border-bottom: white 1px solid;
}
h1 {
  font-size: 7rem;
  width: min-content;
  text-align: center;
  font-weight: lighter;
  line-height: 1;
  color: #494949;
}
h2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #494949;
  padding-bottom: 3rem;
  padding-top:2rem;
}
h3 {
  border-bottom: white 1px solid;
  width: max-content;
  margin-bottom: 1rem;
}
header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "a b b";
  margin-top: 2rem;
  margin-bottom: 3rem;
}
header p {
  color: #014e80;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
}
#profile-photo {
  height: auto;
  width: 100%;
}
#photo-square-wrap {
  grid-area: a;
  max-width: 20rem;
  max-height: 20rem;
  border-radius: 50%;
  overflow: hidden;
  justify-self: center;
}
#header {
  align-self: center;
  justify-self: center;
  grid-area: b;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "a b b";
  padding: 3rem;
}
#short-description {
  grid-area: a;
  justify-self: center;
  border-right: #006798 solid;
  padding-right: 4rem;
  border-image: linear-gradient(
      to bottom,
      #014e80,
      #006798,
      #0082af,
      #009dc3,
      #00b8d4
    )
    1;
}
#long-description {
  grid-area: b;
  padding-left:2rem;
}
#long-description p {
  line-height: 1.5rem;
  text-align: justify;
  padding-bottom:3rem;
}
.education-title {
  font-size: 1.5rem;
  padding: 1rem;
  color: #014e80;
}
.education-info ul li {
  list-style: none;
  line-height: 1.5rem;
  font-style: italic;
  font-weight: lighter;
}

.experience-title {
  color: #006798;
  line-height: 2rem;
  font-size: 1.5rem;
  padding: 0.5rem;
}
.experience-year {
  font-style: italic;
  padding: 0.5rem;
}
#skills ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}
#skills ul li {
  list-style: none;
}
#html {
  width: 4rem;
  height: 4rem;
  line-height: 3rem;
  border: solid 6px #006798;
  border-radius: 50%;
  text-align: center;
}
#css {
  width: 4rem;
  height: 4rem;
  line-height: 3rem;
  border: #006798 solid 6px;
  border-radius: 50%;
  text-align: center;
  border-color: #d4d3cf #006798 #006798 #006798;
}
#js {
  width: 4rem;
  height: 4rem;
  line-height: 3rem;
  border: #006798 solid 6px;
  border-radius: 50%;
  text-align: center;
  border-color: #d4d3cf #d4d3cf #006798 #006798;
}
#react {
  width: 4rem;
  height: 4rem;
  line-height: 3rem;
  border: #006798 solid 6px;
  border-radius: 50%;
  text-align: center;
  border-color: #d4d3cf #d4d3cf #d4d3cf #006798;
}
#php {
  width: 4rem;
  height: 4rem;
  line-height: 3rem;
  border: #006798 solid 6px;
  border-radius: 50%;
  text-align: center;
  border-color: #D4D3CF#006798#D4D3CF#D4D3CF;
}
#sql {
  width: 4rem;
  height: 4rem;
  line-height: 3rem;
  border: #006798 solid 6px;
  border-radius: 50%;
  text-align: center;
  border-color: #006798 #d4d3cf #d4d3cf #d4d3cf;
}
#main-footer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  grid-template-areas: "a b b";
  margin-top: 2rem;
  background-color: #00b8d4;
  padding: 2rem;
  color: white;
}
#contacts {
   display:grid;
   grid-template-columns: repeat(2, 1fr);
}
#contacts ul li {
   list-style: none;
   line-height: 1.5rem;
}
#contacts-name {
   font-weight: bold;
  text-align: end;
  padding-right: 3rem;
}
#contacts-content {
   font-style:italic;
}
#contacts-section {
  grid-area:b;
  margin-left:4rem;
   /* border-left:white solid thin;
   padding-left:4rem; */
}
#contacts-section a {
  text-decoration: none;
color:white;
font-weight: bold;
}
#icon-section {
  border-right:white solid thin;
  padding-left:2rem;
}
#icon-section a {
font-size:1.5rem;
padding:0.5rem;
text-decoration: none;
color:white;
}
#footer-flex p {
  font-size: smaller;
 background-color: #00b8d4;
 color:white;
 text-align: center;
 border-top:1px white solid;
 padding-top:1rem;
 margin-bottom:0
}
@media screen and (max-width:64rem)
{
h1 {font-size:5rem;}
#photo-square-wrap {
  max-width: 15rem;
  max-height: 15rem;
}
.grid {
  display:flex;
  flex-direction: column;
  align-items:center;
}
#short-description {
  width:100%;
  border-right: none;
  border-bottom:#006798 solid;
  border-image: linear-gradient(
      to right,
      #014e80,
      #006798,
      #0082af,
      #009dc3,
      #00b8d4
    )
    1;
    padding-bottom: 3rem;
    padding-right: 0;
}
#education {
 margin:0 auto;
 width:fit-content;
}
#skills {
  margin:0 auto;
  width:fit-content;
}
}
@media screen and (max-width:50rem)
{
header {
  display:flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 3rem;
}
header p {
  font-size: 1rem;
}
#education {
  margin:0 auto;
  width:fit-content;
 }
 #skills {
   margin:0 auto;
   width:fit-content;
/* .grid {
  display:flex;
  flex-direction: column;
  align-items:center;
} */
}
}